apiVersion: v1
values:
  images:
    blueprintOperator: cloudogu/k8s-blueprint-operator:3.0.2
patches:
  values.yaml:
    manager:
      image:
        registry: "{{ registryFrom .images.blueprintOperator }}"
        repository: "{{ repositoryFrom .images.blueprintOperator }}"
        tag: "{{ tagFrom .images.blueprintOperator }}"
