global:
  imagePullSecrets:
    - name: "ces-container-registries"
manager:
  replicas: 1
  image:
    registry: docker.io
    repository: cloudogu/k8s-blueprint-operator
    tag: 3.0.1
  imagePullPolicy: IfNotPresent
  env:
    logLevel: info
    stage: production
  resourceLimits:
    memory: 105M
  resourceRequests:
    cpu: 15m
    memory: 105M
  networkPolicies:
    enabled: true
  reconciler:
    debounceWindow: 10s
doguRegistry:
  certificate:
    secret: dogu-registry-cert
